.empControls{
    width: 100%;
    padding: 5px;
}
.empControls >*{
    width: 100%;
}
.myPadding{
    padding-bottom: 10px;
}
.mat-radio-group mat-radio-button{
   
    margin-left: 10px;
}
.buttonRow button{
   margin: 5px;
}