<form [formGroup]="empService.form" class="myForm">
    <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile> 
        <div class="empControls">
            <input type="hidden" formControlName="$key">
            <mat-form-field appearance="outline" color="primary">
                <mat-label> Full Name: </mat-label>
                <input matInput formControlName="fullName" required>
                <mat-error> This field is required </mat-error>
                </mat-form-field>
               
                <mat-form-field appearance="outline" color="warn">
                    <mat-label> Email: </mat-label>
                    <input matInput formControlName="email" >
                    <mat-error> Invalid Email </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="warn">
                        <mat-label> Mobile Number: </mat-label>
                        <input matInput formControlName="mobile" required>
                        <mat-error> This is required field </mat-error>
                        </mat-form-field>
                       
                        <mat-form-field appearance="outline" color="warn">
                            <mat-label> City: </mat-label>
                            <input matInput formControlName="city">
                            </mat-form-field>
</div>
    </mat-grid-tile>


    <mat-grid-tile> 
        <div class="empControls ">
            <h3> Please Select Your Gender </h3>
                <div class="myPadding">
                    <mat-radio-group formControlName="gender" color="primary">
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Female </mat-radio-button>
                        <mat-radio-button value="3">Others </mat-radio-button>
                      </mat-radio-group>
                </div>

                <h4> Please Select a Department</h4>
                    <mat-form-field appearance="fill">
                    <mat-label>Department</mat-label>
                 <mat-select formControlName="department">
                     
                     <mat-option *ngFor="let x of department"> {{x}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Choose your Hire date</mat-label>
                <input matInput formControlName="hireDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="myPadding">
              <section class="example-section">
                <mat-checkbox formControlName="isPermanent" class="example-margin">Permanent Employee</mat-checkbox>
              </section>
              </div>

              <div class="buttonRow">
                <button mat-raised-button [disabled]="empService.form.invalid" color="accent" type="submit"> Submit </button>
                <button mat-raised-button color="warn" (click)="onClick()" type="submit"> Clear </button>

              </div>


        </div>
        
    
    
    </mat-grid-tile>

</mat-grid-list>
</form>
